*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 30px 0;
  background: rgba(0, 85, 0, 0.158);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
}

button {
  background-color: gold;
  border: 1px solid darkgoldenrod;
  color: black;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.04rem;
  padding: 8px 12px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

button:hover {
  cursor: pointer;
}

.datas {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.grid {
  max-width: 960px;
  margin: 40px auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url("img/Q.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: gold;
}

.show {
  display: block !important;
}

#modal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 12%;
  background-color: rgba(255, 206, 60, 0.664);
}

#gameo {
  background-color: white;
  border: 1px solid darkgoldenrod;
  max-width: 25%;
  padding: 2% 1% 3.5% 1%;
  margin: 0 auto;
}

#smaller {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 5%;
}

#play-again,
#cancel {
  margin: 0 1.5% 0 1.5%;
  font-size: 18px;
}

.footer {
  text-align: center;
}

a {
  color: black;
}